
/* about us */

.team-members {
    width: 640px;
    justify-content: center;
}

.team-img {
    /* margin-right: auto; */
    /* margin-left: auto; */
    width: 225px;
    height: 225px;
    border: 7px solid white;
    border-radius: 50%;
}

.team {
    flex-direction: column;
    align-items: center;
   
    /* margin: auto 70px; */
}

.about-header {
    text-align: center;
    color: #fa9908;
    letter-spacing: 2px;
    font-size: 3rem;
    margin: 40px 0 30px 0;
    /* margin: 30px; */
}

.liron {
    /* line-height: 37px; */
}

.adi {
    align-self: center;
    /* line-height: -10px; */
}

.adi-name {
    position: relative;
    top: 20px;

}

.team-name {
    font-size: 2em;
    text-shadow: none;
    margin: 55px;
    width: 200px;
    height: 20px;
    text-align: center;
}

.git {
    font-size: 2.2em;
    cursor: pointer;
}

i {
    margin: 10px;
}

/* .section-about {
    /* position: absolute; */
    /* top: 120px; */
    /* right: center; */
/* } */ 

/* .about-us{
    /* position: relative; */
    /* top: 170px; */
    /* margin-top: 140px; */
/* } */

